.dashboard-card{

    background:#fff;

    border-radius:18px;

    padding:24px;

    box-shadow:0 5px 18px rgba(0,0,0,.06);

    transition:.25s;

    border:1px solid #edf2f7;

}

.dashboard-card:hover{

    transform:translateY(-4px);

    box-shadow:0 10px 30px rgba(37,99,235,.15);

}

.card-top{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

}

.card-title{

    color:#6b7280;

    margin-bottom:10px;

    font-size:15px;

}

.dashboard-card h2{

    font-size:34px;

    margin:0;

    color:#111827;

}

.dashboard-card span{

    color:#2563eb;

    font-weight:600;

    font-size:14px;

}

.card-icon{

    width:58px;

    height:58px;

    border-radius:14px;

    background:#eff6ff;

    color:#2563eb;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:24px;

}